.selector-for-some-widget {
    box-sizing: content-box;
}

.p-2.lokated, .p-2.date {
    border: 1px solid #000;
    background: #ccc;
}

.mapWrap{
    min-height: 500px;
}

#map {
    height: 100%;
}

.astrosList{
    overflow: auto;
    height: 500px;
    border: 1px solid #000;
    background: #ccc;
}

.totalAmount{
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    background: #ccc;
}

.astros{
    border: 1px solid #000;
    border-radius: 10px;
}

.astros i{
    font-size: 60px;
}

.astros span{
    margin: 0 auto;
    line-height: 60px;
    font-size: 25px;
}


